@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Indie+Flower&family=Sniglet&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
body {
  background-image: url(../images/login.png);
}

main h1 {
  text-align: center;
  margin-top: 10%;
  text-shadow: 0px 0px 25px white;
  font-size: 5em;
  color: black;
  font-family: 'Dancing Script', cursive;
}

main form {
  margin-top: 4%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main form input {
  width: 25%;
  text-align: center;
  background: rgba(39, 35, 35, 0.3);
  color: #6b6470;
  font-style: unset;
  font-size: 2em;
  font-weight: 100;
  letter-spacing: 2px;
  box-shadow:  0px 0px 10px white;
  border-radius: 9px;
  font-family: 'Sniglet', cursive;
}

main form button {
  margin-top: 40%;
  margin-left: -50%;
  width: 200%;
  font-size: 1.5em;
  font-weight: 100;
  letter-spacing: 2px;
  border-radius: 5px;
  background-color: #281646;
  color: #6b6470;
  box-shadow:  0px 0px 10px white;
  font-family: 'Sniglet', cursive;
}

@media only screen (min-width: 375px) and (max-width: 812) {
  
}