@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Indie+Flower&family=Sniglet&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Della+Respira&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.bodyMain {
  background-image: url(../images/purpleuniverse.jpg);
  background-repeat: no-repeat;
  /* background-size: 200%;
  position: fixed; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.text-answer {
  color: white;
  font-family: 'Della Respira', serif;
  font-size: 2em;
  line-height: 150%;
}

.div-image {
  margin-top: 5%;
}

.h2answer {
  text-shadow: 0px 0px 25px white;
}

.question {
  margin-top: 25%;
  text-align: center;
  color: white;
  font-size: 4.5em;
  font-family: 'Dancing Script', cursive;
  text-shadow: 0px 0px 25px white;
}

.div-answer {
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 6%;
}

.button {
  margin-top: 10%;
  margin-bottom: 10%;
  width: 45%;
  font-size: 2em;
  font-weight: 100;
  letter-spacing: 2px;
  border-radius: 5px;
  background-color: #281646;
  color: white;
  box-shadow:  0px 0px 10px rgb(119, 119, 119);
  font-family: 'Sniglet', cursive;
}

.div-footer {
  margin-top: 10%;
  text-align: center;
  color: #faeff1;
  font-family: 'Roboto', 'sans-serif';
}
